<main class="container">
  <div class="img-container">
    <img
      src="https://images.unsplash.com/photo-1633526543814-9718c8922b7a?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="Select screen image"
    />
  </div>
  <h1>Welcome to Warranty Tracker</h1>
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="handleLoginClick()">
      Login
    </button>
    <button mat-raised-button (click)="handleSignupClick()">Signup</button>
  </div>
</main>
